* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7ECEF;
    font-family: 'Roboto';
    height: 100vh;
}

h1 {
    font-family: 'Libre Baskerville';
    text-align: center;
    font-size: 75px;
    color: #274C77;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #274C77;
}

.navbar li {
    font-family: 'Roboto';
}

.navbar a {
    display: block;
    color: #E7ECEF;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #A3CEF1;
}

.name {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.container {
    background: #E7ECEF; 
    width: 1500px; 
    margin: 100px 0 0 300px; 
    padding: 50px; 
    border-radius: 5px; 
    position: absolute; 
    overflow: hidden;
    justify-content: center;
  }

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.content {
    flex: 1;
}
  
.heading {
    font-size: 80px;
    line-height: 1.1;
    color: #274C77;
    margin-bottom: 20px;
    text-align: left;
}
  
.description {
    width: 100%;
    color: #274C77;
    margin-bottom: 20px;
    text-align: left;
}
  
.profile-image {
    width: 800px;
    height: 750px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 5px;
}
