body {
    background-color: #E7ECEF;
    font-family: 'Roboto';
    color: #274C77;
    font-size: 18px;
    margin: 0;
}

h1 {
    font-family: 'Libre Baskerville';
    color: #E7ECEF;
    text-align: center;
}

.section {
    width: 70%; 
    background-color: #A2CDF1; 
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    margin: auto; 
    padding: 10px; 
    padding-bottom: 40px; 
    margin-bottom: 30px; 
    box-shadow: 4px 4px 8px #222121;
}

.navbar a.active {
    border-bottom: 3px solid #E7ECEF;
}
  
.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #274C77;
}
  
.navbar li {
    font-family: 'Roboto';
}
  
.navbar a {
    display: block;
    color: #E7ECEF;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}
  
.navbar a:hover {
    background-color: #A2CDF1;
    color: #274C77;
    border-bottom: 3px solid #274C77;
}

.subheading {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin-top: 40px; 
    margin-bottom: 10px;
}

img {
    width: 1200px; /* Set a fixed width */
    height: 800px; /* Set a fixed height */
    display: block; /* Allows margin auto to work */
    margin: auto; /* Centers the image */
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #222121;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.backhome {
    text-align: right; 
    margin-top: 30px;
    margin-right: 270px;
    margin-bottom: 30px;
}
  
.backhome a {
    padding: 10px 20px; 
    background-color: #A2CDF1; 
    color: #0F1E2E; 
    font-size: 20px;
    font-weight: bold; 
    text-decoration: none; 
    border-radius: 5px;
    box-shadow: 4px 4px 8px #222121;
}
  
.backhome a:hover {
    background-color: #274C77;
    color: #E7ECEF;
}
  